extends ../layout

block content
  .grid.grid-cols-1.gap-4.p-4(class='md:grid-cols-2 lg:grid-cols-3')
    each student in students
      a.block.bg-white.rounded-lg.shadow-md.p-4.mt-4.transition-all.duration-300.ease-in-out.cursor-pointer(
        class='hover:shadow-xl hover:scale-105',
        href=`/users/${student.id}`
      )
        .flex.items-center.mb-4
          .w-12.h-12.rounded-full.mr-4.overflow-hidden.flex-shrink-0
            img.w-full.h-full.object-cover(
              src=student.avatar_url ? student.avatar_url : '/images/student.png',
              alt=student.username
            )
          .flex.flex-col
            h3.font-semibold= student.name
            p.text-sm.text-gray-500= student.email
        p.text-sm.text-gray-600= student.about
