extends layout

block content
  body
    .max-w-2xl.mx-auto.bg-white.shadow-lg.rounded-lg.p-6
      div(class="grid grid-cols-2 gap-4")

        div(class="flex flex-col items-center justify-center")
          .flex.items-center.space-x-4
            if user.avatar_url
              img(class="w-24 h-24 rounded-full" src=user.avatar_url alt="Avatar")
            else
              div(class="w-24 h-24 flex items-center justify-center bg-orange-400 rounded-full")
                span.text-xl.text-white User

          .mt-4
          h2.text-2xl.font-bold.mb-2 #{user.name}
          p.text-sm.text-gray-500 #{user.email}

        div
          .mt-4
            ul
              li.mt-2
                strong Username:
                |  #{user.username}
              li.mt-2
                strong Role:
                |  #{user.role}
              li.mt-2
                strong Email:
                |  #{user.email}
              li.mt-2
                strong Birthday:
                |  #{user.birthday}

    .mb-6
    .max-w-6xl.mx-auto.bg-white.rounded-lg.shadow-md.p-6
      h2.text-xl.font-bold.mb-4 About
      p.text-gray-600.text-justify= user.about
      .mb-6
      .flex.justify-between.items-center.mb-6
        h2.text-xl.font-bold Their courses
        a.text-teal-500(href="#") See All
      div(class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6")
        each course in courseRecommends
          .bg-gray-50.rounded-lg.overflow-hidden
            .flex.justify-center.items-center.h-48
              img(src='/images/python.png' alt='Image' class='h-full')
            .p-4
              h3.font-semibold.mb-2= course.name
              p.text-sm.text-gray-600.mb-4= course.description
              .flex.justify-between.items-center.text-sm.text-gray-500
                span= `${course.level} • ${course.duration}`
