extends ../layout

block content
  a(href='/courses/1') #{ t('common.back') }
  br
  br
  .card
    .card-header.d-flex.justify-content-between
      div #{ t('exam.name') }
      div #{ t('exam.total') }: 12
    form
      .card-body
        h5.card-title #{ t('exam.question') }: Special title treatment
        p.card-text
          div
            .form-check.form-check-inline
              input#inlineRadio1.form-check-input(
                type='radio',
                name='inlineRadioOptions',
                value='option1'
              )
              label.form-check-label(for='inlineRadio1') 1
            .form-check.form-check-inline
              input#inlineRadio2.form-check-input(
                type='radio',
                name='inlineRadioOptions',
                value='option2'
              )
              label.form-check-label(for='inlineRadio2') 2
          div
            .form-check.form-check-inline
              input#inlineRadio3.form-check-input(
                type='radio',
                name='inlineRadioOptions',
                value='option3'
              )
              label.form-check-label(for='inlineRadio3') 3
            .form-check.form-check-inline
              input#inlineRadio4.form-check-input(
                type='radio',
                name='inlineRadioOptions',
                value='option4'
              )
              label.form-check-label(for='inlineRadio4') 4
      .card-footer.text-center
        button.btn.btn-success #{ t('common.submit') }
