mixin detail(lessonDetail, courseDetail)
  if lessonDetail
    h1.text-center.text-5xl.pb-4= lessonDetail.title
    .border-b.py-4
      h3.font-bold #{ t('lesson.detail.content') }
      p= lessonDetail.content
    .py-4
      h3.font-bold #{ t('lesson.detail.reference') }
      a.text-blue-700(href=`${lessonDetail.file_url}`)= lessonDetail.file_url
    .flex.justify-center
      if lessonDetail.done
        button.px-5.rounded-lg.text-sm.tracking-wider.font-medium.border.border-blue-700.outline-none.bg-transparent.text-blue-700(
          class='py-2.5 disabled:cursor-not-allowed',
          disabled
        ) #{ t('lesson.detail.done') }
      else
        button.px-5.rounded-lg.text-sm.tracking-wider.font-medium.border.border-blue-700.outline-none.bg-transparent.text-blue-700.transition-all.duration-300(
          class='py-2.5 hover:bg-blue-700 hover:text-white'
        ) #{ t('lesson.detail.markAsDone') }
  if courseDetail
    h1.text-center.text-5xl.pb-4= courseDetail.name
    .border-b.py-4
      h3.font-bold #{ t('course.detail.about') }
      p= courseDetail.description
    .border-b.py-4
      h3.font-bold #{ t('course.detail.taughtBy') }
      .flex.justify-between
        .flex.gap-1
          p.font-bold #{ t('course.detail.instructor') }:
          a.text-blue-700(href=`/users/${courseDetail.instructor.id}`)= courseDetail.instructor.name
        .flex.gap-1
          p.font-bold #{ t('course.detail.subInstructor') }:
          a.text-blue-700(href=`users/${courseDetail.subInstructor.id}`)= courseDetail.subInstructor.name
