extends ../layout

block content
    h1 #{t('common.detail')}
    div #{t('user.detail.name')}: #{user.name}
    div #{t('user.detail.username')}: #{user.username}
    div #{t('user.detail.email')}: #{user.email}
    div #{t('user.detail.role')}: #{user.role}
    div #{t('user.detail.birthday')}: #{user.birthday}
